h1 {
  font-size: 52px;
  text-align: center;
}

section {
  height: 95vh;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  bottom: 10px;
}

footer {
  background-color: #222222;
  color: gray;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 6px;
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
}

#home{
  padding-top: 150px;
  background-color: Teal;
}

#services{
  padding-top: 300px;
  background-color: DeepSkyBlue;
}

#team{
  padding-top: 150px;
  background-color: DarkSeaGreen;
}

#portfolio{
  padding-top: 150px;
  background-color: SteelBlue;
}

#contact{
  padding-top: 150px;
  background-color: Turquoise;
}

.navbar{
  padding-top: 40px;
}

.navbar-brand{
  position:relative;
  top: -60px;
}

/* Add an teal color to all icons and set the font-size */
.logo-small {
    color: Teal;
}

.logo {
    color: Teal;
}
