h1 {
  text-align: center;
}

section {
  min-height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  bottom: 10px;
}

footer {
  background-color: #222222;
  color: gray;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 6px;
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
}

#home{
  padding-top: 150px;
  background-color: Teal;
  position: relative;
}

#services{
  padding-top: 50px;
  background-color: DeepSkyBlue;
  position: relative;
}

#team{
  padding-top: 50px;
  background-color: DarkSeaGreen;
  position: relative;
}

#portfolio{
  padding-top: 50px;
  background-color: SteelBlue;
  position: relative;
}

#contact{
  padding-top: 300px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: Turquoise;
  position: relative;
}

.navbar{
  padding-top: 40px;
}

.navbar-brand{
  position:relative;
  top: -60px;
}

/* Add an teal color to all icons and set the font-size */
.logo-small {
    color: Teal;
}

.logo {
    color: Teal;
}

.center-text{
  text-align: center;
}

.me {
  width: 250px;
  height: 250px;
  margin-top: 50px;
  border-width: 5px;
  border-style: solid;
  border-color: gray;
}
.displayed {
  display: block;
  margin-right: auto;
  margin-left: auto
}
